---

---

<section
    class="flex flex-1 items-center justify-center"
    aria-label="Page not found"
>
    <div class="text-center select-none">
        <h1 class="mb-12 font-inter font-semibold text-[15rem] tracking-widest bg-clip-text bg-linear-to-b from-white-60 text-transparent to-white-40">404</h1>
        <a
            class="active:opacity-70 hover:[text-shadow:0_0_20px_var(--color-orange-80)] hover:bg-white-20 hover:border-orange-80 hover:text-orange-80 inline-block min-h-14 px-8 py-5 border border-white-20 font-mono text-base tracking-[0.2em] uppercase text-white-60 duration-150 transition-[background,border-color,color,opacity,text-shadow]"
            aria-label="Return to home"
            href="/"
        >
            Return
        </a>
    </div>
</section>
